/* Tu CSS existente aquí */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff9ec; /* Fondo apagado */
    color: #333; /* Texto oscuro */
    line-height: 1.6;
    background-image: url('imagenes/fondo2.jpg');
}

header {
    background-color: #ddb080; /* Naranja suave para el encabezado */
    padding: 20px;
    text-align: center;
    position: relative;
    background-image: url('imagenes/fondogriego.jpg'); /* Agregamos posición relativa al encabezado */
    margin-bottom: 20px; /* Espacio entre el header y el contenido principal */
    margin-top: 20px; /* Espacio superior para el header */
}

/* Agregamos estilos para la imagen de fondo */
header::before {
    content: "";
    background-image: url('imagenes/fondo2.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5; /* Ajusta la opacidad según tus preferencias */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca la imagen detrás del contenido */
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #fff;
}

header span {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

/* Estilo para el video en el encabezado */
.header-video-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporción 16:9 para formato de YouTube */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
}

/* Estilo para el video dentro del contenedor */
.header-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
