/* Estilo para el contenedor del video */
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* Proporción 16:9 para formato de YouTube */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
}

/* Estilo para el video dentro del contenedor */
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Estilos CSS para darle un aspecto básico al blog */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 10px;
  background-image: url('imagenfondo.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 1%;
  display: block;
  color: #333;
  display: block;
}

header {
  background-color: #ffaf5a;
  padding: 20px;
  text-align: center;
  position: relative;
}

/* Agregamos estilos para la imagen de fondo */
header::before {
  content: "";
  background-image: url('imagenes/fondogriego.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Centramos la barra de navegación */
nav {
  display: flex;
  justify-content: center; 
  color: black;
}

/* Estilos para la sección de Historial */
section.historial {
  margin-top: 20px; /* Ajustado para espacio superior */
  padding: 20px;
  background-color: #ebcaa8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section.historial h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

section.historial ul {
  list-style: none;
  padding: 0;
}

section.historial li {
  margin-bottom: 10px;
}

section.historial a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

section.historial a:hover {
  color: #ff8935;
}

nav ul.centrar-nav {
  list-style: none;
  padding: 0;
  text-align: center;
  text-transform: lowercase;
}

section.autores {
  margin-top: 20px; /* Ajustado para espacio superior */
  padding: 20px;
  background-color: #ffaf5a;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section.autores h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}
section.autores h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  align-content: center;
}
section.autores p {
  margin-bottom: 20px;
}
.video-container {
  max-width: 100%;
  max-height: 800px; /* Ajusta este valor según tu preferencia */
  overflow: hidden;
  margin: 0 auto;/* Centra el contenedor en la página */
}


.video-container iframe {
  width: 100%;
  height: 100%; /* Ajustado para llenar el contenedor */
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
  text-transform: lowercase;
}

nav li a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

a {
  font-weight: bold;
  text-decoration: none; /* Quita la línea de abajo */
}

video {
  padding: 25px;
  max-width: 100%; /* Ajustado para ser responsivo */
  height: auto; /* Ajustado para ser responsivo */
}

main {
  display: block;
  font-weight: bold;
  background-color: #fdfdfd;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px; /* Ajustado para espacio superior */
  background-color: wheat;
  color: black;
}

/* Estilos para las imágenes con texto */
section {
  margin-bottom: 20px; /* Ajustado para espacio inferior */
  padding: 20px;
  background-color: #ffaf5a;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 15px;
}

section .imagen-texto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px; /* Espacio entre las imágenes con texto */
}

section .imagen {
  flex: 1;
  text-align: center;
}

section .imagen img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.imagen {
  margin-bottom: 20px; /* Puedes ajustar este valor según tus preferencias */
}

section .texto {
  flex: 2;
  padding: 20px;
  background-color: #fdfdfd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

section .texto h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

section .texto p {
  margin-bottom: 10px;
}

/* Estilos para el botón de "Leer más" en las imágenes con texto */
section .texto a {
  display: block;
  padding: 10px 20px;
  background-color: #ffaf5a; /* Naranja suave para los botones */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

section .texto a:hover {
  background-color: #ff8935; /* Cambio de color al pasar el mouse */
}

button {
  padding: 10px 20px;
  background-color: #ffaf5a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff8935;
}

article {
  margin-bottom: 30px;
}

footer {
  text-align: center;
  margin-top: 20px; /* Ajustado para espacio superior */
  padding: 10px;
  background-color: #ffaf5a;
  color: #fff;
  border-radius: 10px;
}
