/* Estilos CSS para darle un aspecto bÃ¡sico al blog */
body {

  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-image: url('fondo2.jpg'); /* CorrecciÃ³n aquÃ­ */
  background-size: 100%; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
}

h1, h2, h3 {
  margin-top: 30px;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: wheat;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 15px;
 
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: left;
  text-transform: lowercase;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

.centrar-nav ul {
  list-style: none;
  padding: 0;
  text-align: center; /* Centra los elementos de la barra de navegación horizontalmente */
  text-transform: lowercase;
}

.centrar-nav li {
  display: inline-block;
  margin-right: 20px;
}


video{
  padding: 25px;
  height: 90%;
  width: 90%;
 

}

main {
 display: block;
 font-weight: bold;
 background-color:#e2c38a;
 border-radius: 5px;
 padding: 10px;
 margin-top: 20px;


}
.cuadro {
  text-align: center;
padding: 10px;
}

.cuadro button {
  display: block; /* Convierte el botón en un elemento de bloque para centrarlo verticalmente */
  margin: 0 auto; /* Centra el botón horizontalmente */
}

.cuadro img {
  display: flex;
  display: block;
  max-width: 30%;
  margin-bottom: 1px; /* Agrega un margen inferior de 10px a las imÃ¡genes */
  border: 1px solid #ccc; 
  align-items: left;/* Agrega un borde a las imÃ¡genes */
  max-height: 1000px;
}
.cuadro-imagenes img {
  max-width: 100%;
  max-height: 400px;
margin-left: 30px;

}
button {
  display: flex;
  padding: 10px 20px;
  background-color: #0066cc;
  color: rgb(248, 248, 248);
  text-decoration: none;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

.boton:hover {
  background-color: #0052a3;
}

article {
  margin-bottom: 30px;
}

footer {
  text-align: center;
  margin-top: 50px;
  padding: 10px;
  background-color: #e2c38a;
  border-radius: 10px;
}
